{% extends "base.html" %}
{% load article_tags %}
{% block title %}文章列表{% endblock %}
{% block content %}
    <div class="row justify-content-center mb-3">
        <h2>阅读，丰富头脑，善化行为</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-primary" role="alert">
                这里有 <span class="font-weight-bold text-success">{% total_articles %}</span> 篇文章供你阅读
            </div>
            {% for article in articles %}
                <div class="card border-light mb-4 small">
                    <h5 class="card-header border-0">
                        <span class="text-secondary">({{ forloop.counter }})</span>
                        <a href="{{ article.get_url_path }}" class="text-dark">{{ article.title | truncatechars:28 }}</a>
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title"><span class="badge badge-warning">{{ article.column }}</span></h5>
                        <div class="card-text text-secondary">
                            {{ article.body | striptags | truncatechars:80 | linebreaks }}
                        </div>
                        <a href="{{ article.get_url_path }}" class="btn btn-outline-info btn-sm">阅读本文</a>
                    </div>
                    <div class="card-footer border-0">
                        <small class="text-muted pull-left">作者：
                            <a href="{% url 'article:author_titles' article.author.username %}" class="badge badge-primary">
                                {{ article.author.username }}
                            </a>
                        </small>
                        <!-- 显示浏览量 -->
                        <small class="text-muted pull-left ml-3">
                            浏览：<span class="badge badge-success badge-pill">{{ article.total_views }}</span>
                        </small>
                        <small class="pull-right">
                            <span class="text-primary">{{ article.created | date:"Y-m-d h:i:s" }} 发布</span> |
                            <span class="text-danger">{{ article.updated | date:"Y-m-d h:i:s" }} 更新</span>
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h5 class="card-header"><i class="fa fa-fw fa-thumbs-up text-danger"></i> 最受欢迎的文章（浏览量）</h5>
                <div class="card-body small">
                    {% show_total_views 5 as total_views %}
                    <ol>
                        {% for hot_article in total_views %}
                            <li class="mb-2">
                                <a href="{{hot_article.get_url_path}}">{{ hot_article.title | truncatechars:30 }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            {% show_latest_articles 5 %}

            <div class="card mb-3">
                <h5 class="card-header"><i class="fa fa-fw fa-bullhorn text-danger"></i> 最多评论的文章</h5>
                <div class="card-body small">
                    {% most_commented_articles 5 as most_comments %}
                    <ol>
                        {% for comment_article in most_comments %}
                            <li class="mb-2">
                                <a href="{{comment_article.get_url_path}}">{{ comment_article.title | truncatechars:30 }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {% include "paginator.html" %}



{% endblock %}