{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}课程管理 | 管理后台{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mt-2 mb-2">
        <div class="input-group input-group-sm col-6">
            <input type="text" class="form-control" placeholder="请输入课程名称" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-fw fa-search"></i>搜索</button>
            </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-success" href="{% url 'course:create_course' %}">
                    <i class="fa fa-fw fa-plus"></i> 新增课程
                </a>
            </div>
        </div>
    </div>

    <table class="table table-sm small table-hover">
        <tr class="bg-light font-weight-bold">
            <td>序号</td>
            <td>课程标题</td>
            <td>ID</td>
            <td>发布日期</td>
            <td width="7%">操作</td>
        </tr>
        {% for course in courses %}
            <tr id="{{ forloop.counter }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.id }}</td>
                <td>{{ course.created }}</td>
                <td class="text-nowrap">
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a name="delete" href="{% url 'course:delete_course' course.id %}" class="delete">
                            <i class="fa fa-fw fa-trash-o text-danger ml-2"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <p class="alert alert-danger">还没有课程，太懒了。</p>
        {% endfor %}
    </table>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            var onDelete = function () {
                layer.msg("课程正在删除ING……请稍等！", {icon: 16, shade: 0.01});
                $.post(this.href, function (data) {
                    if(data.result === "ok") {
                        setTimeout(function () {        //setTimeout 延迟3秒效果
                            window.location.reload();
                        }, 3000);
                    }else{
                        layer.alert("删除失败");
                    }
                }).fail(function () {
                    layer.alert("error");
                });
                return false;
            };
            $(".delete").click(onDelete);
        });
    </script>
{% endblock %}