{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <h5 class="card-header">我的博客</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for blog in blogs %}
                            <li class="list-group-item">
                                <a href="{{ blog.id }}">{{ blog.title }}</a>
                                <span class="badge badge-pill badge-light">{{ blog.publish | date:'Y-m-d H:i' }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <h5 class="card-header">广告</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">跟老齐学：www.itdiffer.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}