{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">WELCOME YOU</h1>
        <p class="lead">Life is short. You need Python.</p>
        <hr class="my-4">
        <p>Django makes it easier to build better Web apps more quickly and with less code.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}